{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}旅行詳細{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<style>
.pageNav04c {
	/zoom: 1;
	position: relative;
	overflow: hidden;
	margin: 0 0 10px;
	padding: 10px;
	background-color: rgba(255,0,0,0);
}

.side-by-side{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex .flex-item-250{
    display: inline-block;
    width: 250px;
}
.flex .flex-item-other{
    display: inline-block;
    width: calc( 100% - 250px );
}

.pageNav04c ul {
	position: relative;
	left: 50%;
	float: left;
    list-style: none;
}

.pageNav04c ul li {
	position: relative;
	left: -50%;
	float: left;
	margin: 0;
}

.pageNav04c li span,
.pageNav04c li a {
	display: inline-block;
	margin: 0 1px 1px 0;
	padding: 1px 8px;
	background: #590416;
	border: 1px solid #590416;
	text-decoration: none;
	vertical-align: middle;
	color: #FFFFFF;
}

.pageNav04c li a:hover {
	background: #eeeff7;
	border-color: #590416;
}
.dekamoji{
	font-size: 40px;
}
</style>
{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row"><br /><br />
        <div class="dekamoji">{{ tour.name }}</div>
        <br /><br /><br />
    </div>
    <div class="flex">
        <div class="flex-item-250 text-center">経由地</div>
        <div class="flex-item-other">{% for location in tour.locations %}{{ location }}<br>{% endfor %}</div>
    </div>
    <div class="raw_break">{{ tour.description }}</div>
    <div class="side-by-side mb-5">
        <span>合計金額 ￥{{ tour.price | number_format | nl2br }}</span>
        <a href="{{ qr_path }}" class="btn btn-dark text-white">行ク</a>
    </div>

<div class="card-deck">
    {% for review in tour.reviews %}
        <div class="card text-center col" style="min-height:400px;"><br>
            <img src="{{ review.image_url }}" class="card-img-top img-fluid" style="width:auto;height: 300px;object-fit: contain;">
            <div class="card-body">
                <hr>
                <h5>{{ review.impressions }}</h5>
            </div>
        </div>
        {% if loop.index % 2 == 0 %}
    </div>
    <div class="row">&nbsp;</div>
    <div class="card-deck">
        {% endif %}
    {% endfor %}
</div>
</div>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
